WebService/WebClient/Service References/CalculatorService/WebServiceCalculator.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Sum">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="y" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SumResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Sub">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="y" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SubResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Div">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="y" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DivResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DivResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Mult">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="y" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MultResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MultResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SumSoapIn">
    <wsdl:part name="parameters" element="tns:Sum" />
  </wsdl:message>
  <wsdl:message name="SumSoapOut">
    <wsdl:part name="parameters" element="tns:SumResponse" />
  </wsdl:message>
  <wsdl:message name="SubSoapIn">
    <wsdl:part name="parameters" element="tns:Sub" />
  </wsdl:message>
  <wsdl:message name="SubSoapOut">
    <wsdl:part name="parameters" element="tns:SubResponse" />
  </wsdl:message>
  <wsdl:message name="DivSoapIn">
    <wsdl:part name="parameters" element="tns:Div" />
  </wsdl:message>
  <wsdl:message name="DivSoapOut">
    <wsdl:part name="parameters" element="tns:DivResponse" />
  </wsdl:message>
  <wsdl:message name="MultSoapIn">
    <wsdl:part name="parameters" element="tns:Mult" />
  </wsdl:message>
  <wsdl:message name="MultSoapOut">
    <wsdl:part name="parameters" element="tns:MultResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceCalculatorSoap">
    <wsdl:operation name="Sum">
      <wsdl:input message="tns:SumSoapIn" />
      <wsdl:output message="tns:SumSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Sub">
      <wsdl:input message="tns:SubSoapIn" />
      <wsdl:output message="tns:SubSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Div">
      <wsdl:input message="tns:DivSoapIn" />
      <wsdl:output message="tns:DivSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Mult">
      <wsdl:input message="tns:MultSoapIn" />
      <wsdl:output message="tns:MultSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceCalculatorSoap" type="tns:WebServiceCalculatorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Sum">
      <soap:operation soapAction="http://tempuri.org/Sum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sub">
      <soap:operation soapAction="http://tempuri.org/Sub" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Div">
      <soap:operation soapAction="http://tempuri.org/Div" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Mult">
      <soap:operation soapAction="http://tempuri.org/Mult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceCalculatorSoap12" type="tns:WebServiceCalculatorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Sum">
      <soap12:operation soapAction="http://tempuri.org/Sum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sub">
      <soap12:operation soapAction="http://tempuri.org/Sub" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Div">
      <soap12:operation soapAction="http://tempuri.org/Div" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Mult">
      <soap12:operation soapAction="http://tempuri.org/Mult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceCalculator">
    <wsdl:port name="WebServiceCalculatorSoap" binding="tns:WebServiceCalculatorSoap">
      <soap:address location="http://localhost:26187/WebServiceCalculator.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceCalculatorSoap12" binding="tns:WebServiceCalculatorSoap12">
      <soap12:address location="http://localhost:26187/WebServiceCalculator.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>